<html>
    <head>
        <title>Sing-Up</title>
    </head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

   

    <body class="loading_mode">
        <div id="loading" style="position: fixed; z-index: 999999;">
            <div id="loader" style="position: relative; background: #000;">
                <div class="loader">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                    <div class="bar4"></div>
                    <div class="bar5"></div>
                    <div class="bar6"></div>
                </div>
            </div>
        </div>

        <!-- navbar -->



        <div id="main-one">
            <div class="container-fluid">
                <div class="row">
                    <div id="left_side_banner">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4 p-0">
                                <div id="logo">
                                    <a href="../index.html"><img src="../assets\media\Logo3.png" /></a>

                                    <h2>Contact here</h2>
                                    <p>
                                        Becoming a professional singer requires strong vocals, thick skin, and the persistence to succeed. But before all of that, 
                                    </p>
                                    <button type="button" id="socials" class="btn btn-warning"><i class="fa fa-mobile" aria-hidden="true"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-8 p-0">
                                <div class="overlay"></div>
                              
                                <div class="right_bar" style="background-image: url('../assets/media/contact_back.jpg'); background-size: cover; height: 100%; background-repeat: no-repeat; ">
                                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                        <div class="container-fluid">
                                            <a class="navbar-brand" href="#"></a>
                                            <button
                                                class="navbar-toggler"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#navbarSupportedContent"
                                                aria-controls="navbarSupportedContent"
                                                aria-expanded="false"
                                                aria-label="Toggle navigation">
                                                <span class="navbar-toggler-icon">

                                                    <input type="checkbox" id="manu-bars-main">
                                                    <label for="manu-bars-main" class="Togglebars">
                                                        <div class="spinner top"></div>
                                                        <div class="spinner middle"></div>
                                                        <div class="spinner bottom"></div>
                                                    </label>
                                                
                                            </span>
                                            </button>
                                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" aria-current="page" href="#">SINGERS</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">ALBUM</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="#">ARTIST</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="gallery.html">GALLERY</a>
                                                    </li>
                                                </ul>

                                                <div id="Navbar_Search">
                                                    <svg style="display: none;">
                                                        <symbol id="magnify" viewBox="0 0 18 18" height="100%" width="100%">
                                                            <path
                                                                d="M12.5 11h-.8l-.3-.3c1-1.1 1.6-2.6 1.6-4.2C13 2.9 10.1 0          6.5 0S0 2.9 0 6.5 2.9 13 6.5 13c1.6 0 3.1-.6 4.2-1.6l.3.3v.8l5 5          1.5-1.5-5-5zm-6 0C4 11 2 9 2 6.5S4 2 6.5 2 11 4 11 6.5 9 11 6.5            11z"
                                                                fill="#fff"
                                                                fill-rule="evenodd"
                                                            />
                                                        </symbol>
                                                    </svg>

                                                    <div class="search-bar">
                                                        <input type="text" class="input" placeholder="&nbsp;" />
                                                        <span class="label">Search</span>
                                                        <span class="highlight"></span>
                                                        <div class="search-btn">
                                                            <svg class="icon icon-18">
                                                                <use xlink:href="#magnify"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>

                                                <nav id="colorNav">
                                                    <ul>
                                                        <li class="green">
                                                            <a href="#" class="fa fa-align-right"></a>
                                                            <ul>
                                                                <li><a href="aboutus.html">ABOUT US</a></li>
                                                                <li><a href="#">CONTACT US</a></li>
                                                                <!--  <li><a href="#"></a></li> -->
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </nav>
                                </div>

   <section class="contact-us">
   <div class="container">
   <div class="row">

                                       
   <div class="inner-contact">

<section id="contact">
  
  <h1 class="section-header">Contact us</h1>
  
  <div class="contact-wrapper">
  
  <!-- Left contact page --> 
    
    <form id="contact-form" class="form-horizontal" role="form">
       
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required style="height: 55px; border-radius: 60px;">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="email"  placeholder="EMAIL" name="email" value="" required style="height: 55px; border-radius: 60px;">
        </div>
      </div>

      <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required style="border-radius: 20px;" ></textarea>
      
      <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div class="alt-send-button">
          <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
        </div>
      
      </button>
      
    </form>
    
  <!-- Left contact page --> 
    
      <div class="direct-contact-container">

        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">FBD-Haryana</span></i></li>
          
          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">7838383932</a></span></i></li>
          
          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">mohitkr783838@gmail.com</a></span></i></li>
          
        </ul>

        <hr>
        <ul class="social-media-list">
          <li><a href="https://www.youtube.com/channel/UCGC3iir2VvHp7QquziBEnbw" target="_blank" class="contact-icon">
            <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </li>
           <li>  <a href="https://instagram.com/i_m_mohit______?igshid=YmMyMTA2M2Y=" target="_blank" class="contact-icon">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
           <li><a href="https://github.com/Mohit3932" target="_blank" class="contact-icon">
            <i class="fa fa-github" aria-hidden="true"></i></a>
          </li>     
        </ul>
        <hr>

        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

      </div>
    
  </div>
  
</section>  
  
  




</div>


</div>




                                           
                                        </div>
                                    </section>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="social-line">
             <ul>
                                                            <li>
                                                                <a href="https://instagram.com/i_m_mohit______?igshid=YmMyMTA2M2Y="><span id="banner_socials"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <span id="banner_socials"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                                            </li>
                                                            <li>
                                                                <a href="https://www.youtube.com/channel/UCGC3iir2VvHp7QquziBEnbw"><span id="banner_socials"><i class="fa fa-youtube-play" aria-hidden="true"></i></span></a>
                                                            </li>
                                                        </ul>
        </div>



<script type="text/javascript">
    document.querySelector('#contact-form').addEventListener('submit', (e) => {
    e.preventDefault();
    e.target.elements.name.value = '';
    e.target.elements.email.value = '';
    e.target.elements.message.value = '';
  });




</script>
      

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="../assets/js/about-us_loader.js"></script>
    </body>
</html>
